/* You can add global styles to this file, and also import other style files */
:root {
    --app-palette-background-default: hsl(210, 14%, 7%);
    --app-palette-background-paper: hsla(210, 14%, 9%, 0.8);
    --app-palette-text-tertiary: hsl(215, 15%, 65%);
    --app-palette-text-secondary: hsl(215, 15%, 75%);
    --app-palette-divider: hsla(210, 14%, 28%, 0.3);

    --app-palette-background-footer: #3b82f680;
}
body {
//     background-color: #8BC6EC;
    background-color: var(--app-palette-background-default);
// background-image: linear-gradient(135deg, #112e41 0%, #151849 100%);

}

.uppercase {
    text-transform: uppercase;
}