<section class="header">
    <h1>{{project()?.name}} - {{project()?.status}}</h1>
    <div style="display: flex; column-gap: .5em;">
        @if(edit()){
            <button nz-button (click)="onClickDiscardChanges()" [disabled]="disabled()">Descartar cambios</button>
            <button nz-button nzType="primary" (click)="onClickSave()" [disabled]="disabled()">Guardar cambios</button>
        } @else {
            @let x = project();
            @if (x && x.runningOn === "PM2"){
                @if (x.status === "online"){
                    <button nz-button [disabled]="disabled()" (click)="onClickRestar()">
                        Reiniciar
                    </button>
                }
                <button nz-button (click)="onClickLunchOrStop()" [disabled]="disabled()">
                    @if(x.status === "online"){
                        Detener
                    } @else {
                        Iniciar
                    }
                </button>
            }
            <button nz-button (click)="onClickEdit()" [disabled]="disabled()">Editar</button>
            <button nz-button (click)="onClickDelete()" [disabled]="disabled()">Eliminar</button>
        }
    </div>
</section>

<section class="content">
    @if (edit()){
        <app-project-form [product]="project() ?? undefined"/>
    } @else {
        <div>{{project()?.domain}}</div>
        <div>
            <div>
                {{project()?.framework ?? "Sin framework"}}
            </div>
        
            <div>
                {{project()?.location}}
            </div>
        </div>
    }
</section>
