:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "aside header" "aside main" "footer footer";
    height: 100%;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--app-palette-background-paper);
    border-right: 1px solid rgba(48, 56, 64, 0.3);
    .logo {
        padding: .3em;
        padding-right: .5em;
        display: flex;
        align-items: center;
        column-gap: .5em;
        img {
            height: 22px;
        }
        .text {
            font-weight: 500;
        }
    }
    nav {
        display: grid;
        grid-template-rows: 1fr auto;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            padding: .3em;
            li {
                a {
                    padding: .2em .5em;
                    display: block;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    color: aliceblue;
                    &:hover {
                        background-color: hsla(210, 14%, 13%, 0.8);
                        border: 1px solid var(--app-palette-divider);
                    }
                }
            }
        }
    }
}

main {
    grid-area: main;
    padding: 1em;
    overflow: auto;
}

footer {
    padding: .2em .5em;
    grid-area: footer;
    background-color: var(--app-palette-background-footer);
    display: grid;
    grid-template-columns: 1fr auto;
}