<header>
    <div>
        / Home
    </div>
    <div>
        <button (click)="openDrawerUserMenu()" nz-button nzType="text">
            {{user()}}
        </button>
    </div>
</header>
<aside>
    <div>
        Deploy | Novah.dev
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/projects">
                    Proyectos
                </a>
            </li>
            <li>
                <a routerLink="/pm2">
                    PM2
                </a>
            </li>
            <li>
                <a routerLink="/docker">
                    Docker
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a>
                    Usuarios
                </a>
            </li>
            <li>
                <a>
                    Perfil
                </a>
            </li>
        </ul>
    </nav>
</aside>

<main>
    <router-outlet/>
</main>

<footer>
    Desarrollado por Novah.dev
</footer>