<section class="panel-control">
    <input nz-input placeholder="Buscar proyecto" disabled>
    <button nz-button routerLink="new">
        Agregar producto
    </button>
    <button nz-button (click)="onUpdateList()">
        Actualizar lista
    </button>
</section>
<section class="panel-results">
    <ul>
        @for (item of list(); track $index) {
            <li>
                <div class="info">
                    <div class="name">
                        {{item.name}}
                    </div>
                    <div class="domain">
                        {{item.domain}}
                    </div>
                </div>
                <div>
                    {{item.status}}
                </div>
                <button nz-button nzType="text" [routerLink]="item.id">
                    Ver mas
                </button>
            </li>
        }
    </ul>
</section>